@page "/scratchcards"
@using ScratchcardStatistics.Models;
@using ScratchcardStatistics.Services.Scratchcards;
@inject IScratchcardService ScratchcardService
@inject NavigationManager NavigationManager

<PageTitle>Kaparós sorsjegyek</PageTitle>

<MudTable T="Scratchcard" Items="ScratchcardsFiltered" AllowUnsorted="false" Height="calc(100vh - 96px)" Dense Hover Bordered FixedHeader>
    <HeaderContent>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<Scratchcard, object>(s => s.Name)">Név</MudTableSortLabel>
            <MudTextField T="string" Value="filterName" ValueChanged="NameChanged" Margin="Margin.Dense" Variant="Variant.Outlined" Clearable />
        </MudTh>
        <MudTh Style="text-align:center"><MudTableSortLabel SortBy="new Func<Scratchcard, object>(s => s.ReleaseDate)" InitialDirection="SortDirection.Descending">Megjelenés</MudTableSortLabel></MudTh>
        <MudTh Style="text-align:center"><MudTableSortLabel SortBy="new Func<Scratchcard, object>(s => s.Price)">Ár</MudTableSortLabel></MudTh>
        <MudTh Style="text-align:center"><MudTableSortLabel SortBy="new Func<Scratchcard, object>(s => s.ExpectedValue)">Várható érték</MudTableSortLabel></MudTh>
        <MudTh Style="text-align:center"><MudTableSortLabel SortBy="new Func<Scratchcard, object>(s => s.ExpectedValuePercent)">Várható érték %</MudTableSortLabel></MudTh>
        <MudTh Style="text-align:center"><MudTableSortLabel SortBy="new Func<Scratchcard, object>(s => s.ChanceOfWinningToOne)">Nyerési esély</MudTableSortLabel></MudTh>
        <MudTh Style="text-align:center"><MudTableSortLabel SortBy="new Func<Scratchcard, object>(s => s.ChanceOfWinningPercent)">Nyerési esély %</MudTableSortLabel></MudTh>
        <MudTh>
            <div class="d-flex justify-center gap-4">
                <MudCheckBox T="bool?" Checked="filterIsAvailable" CheckedChanged="IsAvailableChanged" Color="Color.Primary" TriState />
                <MudTableSortLabel SortBy="new Func<Scratchcard, object>(s => s.IsAvailable)">Elérhető</MudTableSortLabel>
            </div>
        </MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd><MudLink Typo="Typo.inherit" Href=@($"scratchcards/{context.Name.Replace(' ', '_')}")>@context.Name</MudLink></MudTd>
        <MudTd Style="text-align:center">@context.ReleaseDate.ToShortDateString()</MudTd>
        <MudTd Style="text-align:right">@context.Price.ToString("C0")</MudTd>
        <MudTd Style="text-align:right">@context.ExpectedValue.ToString("C0")</MudTd>
        <MudTd Style="text-align:center">@context.ExpectedValuePercent.ToString("P0")</MudTd>
        <MudTd Style="text-align:center">1:@context.ChanceOfWinningToOne.ToString("N2")</MudTd>
        <MudTd Style="text-align:center">@context.ChanceOfWinningPercent.ToString("P2")</MudTd>
        <MudTd Style="text-align:center; color:white">@(context.IsAvailable ? "✅" : "❌")</MudTd>
    </RowTemplate>
</MudTable>

    @code {
    private string filterName = string.Empty;
    private bool? filterIsAvailable = true;

    private List<Scratchcard> ScratchcardsAll { get; set; } = new();
    private List<Scratchcard> ScratchcardsFiltered { get; set; } = new();

    protected override void OnInitialized()
    {
        ScratchcardsAll = ScratchcardService.GetScratchcards();
        FilterChanged();
    }

    private void NameChanged(string name)
    {
        filterName = name;
        FilterChanged();
    }

    private void IsAvailableChanged(bool? isSelected)
    {
        filterIsAvailable = isSelected;
        FilterChanged();
    }

    private void FilterChanged() =>
        ScratchcardsFiltered = ScratchcardsAll
            .Where(s => s.Name.Contains(filterName, StringComparison.OrdinalIgnoreCase))
            .Where(s => filterIsAvailable.HasValue ? s.IsAvailable == filterIsAvailable : true)
            .ToList();
}