@page "/scratchcards/{EscapedName}"
@using ScratchcardStatistics.Models;
@using ScratchcardStatistics.Services.Scratchcards;
@inject IScratchcardService ScratchcardService

<PageTitle>@Scratchcard.Name</PageTitle>

<MudText Typo="Typo.h5" GutterBottom>@Scratchcard.Name</MudText>

<MudText Typo="Typo.body1">Ár: <b>@Scratchcard.Price.ToString("C0")</b></MudText>
<MudText Typo="Typo.body1">Főnyeremény: <b>@Scratchcard.Jackpot.ToString("C0")</b></MudText>
<MudText Typo="Typo.body1">Megjelenés: <b>@Scratchcard.ReleaseDate.ToShortDateString()</b></MudText>
@if (@Scratchcard.EndDate.HasValue)
{
    <MudText Typo="Typo.body1">Utolsó értékesítés: <b>@Scratchcard.EndDate.Value.ToShortDateString()</b></MudText>
}
<MudText Typo="Typo.body1">Nyerési esély: <b>1:@Scratchcard.ChanceOfWinningToOne.ToString("N2")</b></MudText>
<MudText Typo="Typo.body1" GutterBottom>Kibocsátott darabszám: <b>@Scratchcard.TotalSupply.ToString("N0") db</b></MudText>

<MudText Typo="Typo.h6" GutterBottom>Nyereménystruktúra:</MudText>
<MudSimpleTable Style="max-width:420px" Dense Hover Bordered>
    <thead>
        <tr>
            <th style="text-align:center">Darab</th>
            <th style="text-align:center">Nyeremény</th>
            <th style="text-align:center">Esély</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var structure in Scratchcard.PrizeStructure)
        {
            <tr>
                <td style="text-align:right">@structure.Value.ToString("N0") db</td>
                <td style="text-align:right">@structure.Key.ToString("C0")</td>
                <td style="text-align:center">1:@((1 / ((decimal)structure.Value / Scratchcard.TotalSupply)).ToString("#,##0.##"))</td>
            </tr>
        }
    </tbody>
</MudSimpleTable>

@code {
    [Parameter]
    public string EscapedName { get; set; }

    private Scratchcard Scratchcard { get; set; }

    protected override void OnInitialized() =>
        Scratchcard = ScratchcardService.GetScratchcard(EscapedName);
}