@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@inherits LayoutComponentBase
@inject IWebAssemblyHostEnvironment HostEnvironment

<FluentLayout>
    <FluentHeader Height="42">
        <FluentNavLink Href="scratchcards">Kaparós sorsjegyek</FluentNavLink>
        <FluentSpacer />
        <FluentNavLink Href="https://bet.szerencsejatek.hu/sorsjegyek" Icon="@(new Icons.Regular.Size24.Clover())" IconColor="Color.Lightweight" Target="_blank" Tooltip="Szerencsejáték Zrt." Style="margin-bottom: -4px;" />
        <FluentSpacer Width="8" />
        <FluentNavLink Href="https://github.com/angyanmark/ScratchcardStatistics" Icon="@(new Icons.Regular.Size24.Code())" IconColor="Color.Lightweight" Target="_blank" Tooltip="Forráskód" Style="margin-bottom: -4px;" />
        <FluentSpacer Width="8" />
        <FluentIcon Value="@(new Icons.Regular.Size20.Info())" Color="Color.Lightweight" Title="@($"{HostEnvironment.Environment} • v{System.Reflection.Assembly.GetExecutingAssembly().GetName().Version?.Major} • {System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription}")" />
    </FluentHeader>
    <FluentStack Class="main" Width="100%">
        <FluentBodyContent Class="body-content">
            <ErrorBoundary>
                <ChildContent>
                    <div class="content">@Body</div>
                </ChildContent>
                <ErrorContent>
                    <div class="blazor-error-boundary">Hiba történt.</div>
                </ErrorContent>
            </ErrorBoundary>
        </FluentBodyContent>
    </FluentStack>
</FluentLayout>
